<div class="panel panel-default">
  <div class="panel-body">

		<div class="media">
		  <a class="pull-left" href="http://www.temple.edu/">
		    <img class="media-object" src="/assets/temple_logo.jpeg" alt="Temple University Logo">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading">Temple University</h4>
		    <b><i>BBA from Fox School of Business <small>(graduated January 2013)</small></i></b>
		    <br />
		    <br />
		    <p>
		    	<b>Major:</b> Management Information Systems<br />
		    	<b>Minor:</b> Computer Science
		    </p>
		    <p>
		    	Graduating with over 150 credits (I took lots of extra courses), I dedicated 4.5 years of my life to learning as much as I could in the realm of Business, Computers, and German Language (1 class shy of a minor). I avidly participated in <a href="http://www.temple.edu/studentaffairs/leadership/"><b>Office of Leadership Development</b></a> events, including time spent as a Diamond Leader, serving as the <b>captain of Developmental Programming Lead Team</b> for three semesters. Also, I spent a semester participating in the <a href="http://www.temple.edu/studyabroad/Programs/semester_year/italy/"><b>Temple Rome</b></a> program, and played as much pick-up & intramural soccer as I could find time for.
		    </p>
		  </div>
		</div>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">

		<div class="media">
		  <a class="pull-left" href="https://generalassemb.ly/">
		    <img class="media-object" src="/assets/ga_logo.jpg" alt="General Assembly Logo">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading">General Assembly</h4>
		    <b><i>Back-end Web Development <small>(graduated February 2014)</small></i></b>
		    <br />
		    <br />
		    <p>General Assembly's <a href="https://generalassemb.ly/education/back-end-web-development">Back-end Web Development course</a> is a three month long, intensive night course that introduces students to web application programming, allowing one to create robust, back-end Rails applications that communicate with both the front-end of a site, and back-end data stores. Students also learn how to integrate with third party APIs and write the logic required to drive customized solutions on the web.</p>
		    <p>
		    	This course also served as a great introduction to both the General Assembly and Ruby on Rails community!
		    </p>
		  </div>
		</div>

	</div>
</div>