<div class="panel panel-primary">
  <div class="panel-heading">Full Time</div>
  <div class="panel-body">

		<div class="container-fluid">
		  <div class="row">
			  <div class="col-xs-4 col-md-4" style="text-align: center;">
			  		<span class="helper"></span>
			  		<a href="http://exigis.com/">
			  			<%= image_tag "exigis_logo.png", alt: "Exigis, Inc", class: "imgHelper" %>
			  		</a>
			  		<br /><b>New York, NY</b>
			  		<br />Jan 2013 - Mar 2014
			  </div>
			</div>
		</div>

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">College Internships</div>
  <div class="panel-body">

		<div class="container-fluid">
		  <div class="row">
			  <div class="col-xs-4 col-md-4" style="text-align: center;">
			  		<span class="helper"></span>
			  		<a href="http://www.fivebelow.com/">
			  			<%= image_tag "five_below_logo.jpg", alt: "Five Below, Inc", class: "imgHelper" %>
			  		</a>
			  		<br /><b>Philadelphia, PA</b>
			  		<br />Spring 2012
			  </div>
			  <div class="col-xs-4 col-md-4" style="text-align: center;">
			  	<span class="helper"></span>
			  	<a href="http://www.aetna.com/">
						<%= image_tag "aetna_logo.jpg", alt: "Aetna, Inc", class: "imgHelper" %>
			  	</a>
			  	<br /><b>Blue Bell, PA</b>
			  	<br />Summer 2011
			  </div>
			  <div class="col-xs-4 col-md-4" style="text-align: center;">
			  		<span class="helper"></span>
			  	  <a href="http://www.digitalperformance.de/">
							<%= image_tag "dp_logo.png", alt: "Digital Performance GmbH", class: "imgHelper" %>
			  	  </a>
			  	<br /><b>Berlin, Germany</b>
			  	<br />Summer 2010
			  </div>
			</div>
		</div>

  </div>
</div>