<div class="jumbotron">
	<table>
		<tr>
			<td width=75%>
  			<h1>Welcome to <br />Bill Mantegna's <br />Portfolio!</h1>
  		</td>
  		<td style="text-align:center;">
  			<img src="/assets/profile_pic.jpg" class="img-circle" alt="Bill Mantegna">
  		</td>
  	</tr>
  </table>
</div>