<div class="panel panel-default">
  <div class="panel-body">

		<div class="media">
		  <a class="pull-left" href="http://fermently.herokuapp.com/">
		    <img class="media-object" src="/assets/fermently_screenshot.jpg" alt="Fermently Screenshot">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">Fermently</h3>
		    <p>
		    	Fermently allows users to easily store and share their homebrew data online. I built this website to make it easier to share and discuss homebrewing with my friends.
		    </p>
		  </div>
		</div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

		<div class="media">
		  <a class="pull-left" href="http://neoncrown.herokuapp.com/">
		    <img class="media-object" src="/assets/neoncrown_screenshot.jpg" alt="NeonCrown Screenshot">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">NeonCrown</h3>
		    <p>NeonCrown is the Uber of entertainment. Our site allows you to book entertainers such as superheroes, clowns, magicians, princesses, celebrity impersonators, musicians, DJs, zombies, and animals for your next party. Additionally, we help entertainers source business by giving them a platform through which to book gigs.</p>
				<br />
				<p>This project was made possible by <a href="http://www.startupweekend.org/"><b>Startup Weekend</b></a> in NYC, and is an on-going project.</p>
				<p><b>Team Members:</b> Gary Reloj, Eric Wong, Bilal Zaidi, Patrick McDougall, Steve Schwartz, Hanam Le, Jesse Fortes, Chad Goldman, Arianna O'Dell

				</p>
		  </div>
		</div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

		<div class="media">
		  <a class="pull-left" href="http://growshare.net/">
		    <img class="media-object" src="/assets/growshare_screenshot.jpg" alt="GrowShare Screenshot">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">GrowShare</h3>
		    <p>GrowShare.net is a website where users can view vacant lots in Philadelphia, collaborate on ideas for how to put the land to meaningful use, and exchange resources within the community to get more out of resources already available within the community (capital, human, or land).</p>
		    <br />
				<p>We entered this project into the <a href="http://googlegeodevelopers.blogspot.com/2013/02/google-places-api-developer-challenge.html"><b>Google Places API Developers Challenge</b></a> in January 2013, and placed in the <b>Runners Up</b> category (top 5). Out of the 87 teams (from 27 countries), we were the only group of University students to enter.</p>

				<p><b>Team Members:</b> Justin Shi, Brett Statman, Han-Lin Wu, Kristiyan Georgiev</p>
		  </div>
		</div>

  </div>
</div>