
<div class="panel panel-primary">
  <div class="panel-heading">Programming</div>
  <div class="panel-body">
     Ruby, C#, VBA, Java, JavaScript (intermediate), PHP, C (beginner)
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Web Frameworks</div>
  <div class="panel-body">
    Rails, ASP.NET, HTML & CSS (intermediate)
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Data Management</div>
  <div class="panel-body">
    T-SQL, ActiveRecord (intermediate), XML (beginner)
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">Tools</div>
  <div class="panel-body">
    <p><b>Data Management:</b> Excel (expert), SQL Server (intermediate), Visio</p>
    <p><b>Development Planning:</b> Team Foundation Server, MS Project</p>
    <p><b>IDE's:</b> Sublime Text 2, Visual Studio, Netbeans, Eclipse, NotePad++</p>
    <p><b>Versioning:</b> Git(hub), Tortoise SVN</p>
  </div>
</div>
